body {
    scroll-behavior: smooth;
    align-items: center;
    width: 100%; 
    max-width: 1366px; 
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
} 

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-family: Lato;
    font-size: 26px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.035em;
    text-align: left;
    text-transform: uppercase;
    padding-left: 1em;
}

/* .link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    padding-right: 60px;
    text-decoration: none;
    color: #000000;


}

.header-nav {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
} */
/* Стили выпадающего списка */
ul.ddropdownn li {/* Считаем координаты относительно исходного места. */ 
    position: relative; }
ul.ddropdownn, ul.ddropdownn-inside {
    /* Отступы на нуле. */
    padding: 0;
    /* Маркеры уберем. */
    list-style-type: none;
    }
ul.ddropdownn-inside {
    /* Спрячем дочерние элементы выпадающего списка. */
    left: -9999px;
    position: absolute;
    }
ul.ddropdownn li.ddropdownn-top {
    /* Небольшой отступ. */
    margin: 20px 1px 0 0;
    /* Выравнивание по левой стороне. */
    float: left;
    display: inline;
    }
ul.ddropdownn li.ddropdownn-top a {
    /* Делаю элементы блочными. */
    display: block;
    /* Снова отступы. */
    padding: 3px 30px 4px;
    text-decoration: none;
    color: black;
    font-family: Inter;
    width: 145px;
    }
/* ul.ddropdownn a.ddropdownn-top {/* Цвет фона. */ background: #FEF6F3; } */
ul.ddropdownn a.ddropdownn-top:hover {/* Отступы. */ padding: 13px 20px 4px; }
ul.ddropdownn li.ddropdownn-top:hover .ddropdownn-inside {
    left: 0;
    /* Делаю элементы блочными. */
    display: block;
    }
ul.ddropdownn .ddropdownn-inside {/* Цвет фона. */ background: #FEF6F3; }
ul.ddropdownn .ddropdownn-inside a:hover {/* Цвет фона изменится при наведении. */ 
    background: #FEF6F3; }


@media screen and (max-width: 745px) {
    .header-nav {
        display: block;
        padding-top: 0px;
    }
}


.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #FEF6F3;
    padding: 5px 0px 0 70px;

}

.BEGINNES {
    background: #FEF6F3;
}

.content-beginners {
    display: flex;
    justify-content: space-between;
}

.beginners-inf h1 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.08em;
    text-align: left;

    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.035em;
    text-align: left;
}

.content-beginners {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.home_ul {
    list-style-type: none;
}

.button_home {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    background:#FBC815;
    border-style: none;
    border-radius: 10px;
    width: 257px;
    height: 56px;
}