body {
    scroll-behavior: smooth;
    align-items: center;
    width: 100%; 
    max-width: 1366px; 
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
} 

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-family: Lato;
    font-size: 26px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.035em;
    text-align: left;
    text-transform: uppercase;
    padding-left: 1em;
}

.link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    padding-right: 60px;
    text-decoration: none;
    color: #000000;


}

.header-nav {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}

@media screen and (max-width: 745px) {
    .header-nav {
        display: block;
    }

    .link{
        padding-bottom: 10px;
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #FEF6F3;
    padding-top: 21px;
    padding-left: 93px;

}

