body {
    scroll-behavior: smooth;
    align-items: center;
    width: 100%; 
    max-width: 1366px; 
    margin: auto;
    font-family: 'Inter', 'Work Sans', "NunitoSans-Light", Arial, Helvetica, sans-serif;
} 

.section-header {
    display: flex;
}